#!/usr/bin/env bash

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;

# Set ARMGCC_DIR for 4B25 CW
export ARMGCC_DIR=/Users/lzb/Library/CloudStorage/OneDrive-UniversityofCambridge/Documents/IIB/4B25/bare-metal-arm/gcc-arm
